<!-- beach-details.hbs -->
<body id="beach-details">
  <div class="beach-changes">
    <a href="/beaches/{{beach._id}}/edit">Edit</a>

    
  </div>
  <div class="central-beach-description">
  <div class="beach-image-favourites">
    <div class="image details">
 <img src="{{beach.imageUrl}}" width="500" height="300">
 </div><br>
 <!-- Fav Beach -->

 {{#if isFav}}
        <form action="/beaches/{{beach._id}}/removeFavs" method="get">
          <button type="submit">Remove from favourites </button>
     
        </form>
      {{else}}
        <form action="/beaches/{{beach._id}}/addFavs" method="post">
          <button type="submit">Add to favourites</button>
        
        </form>
      {{/if}}
  </div>
  <div class="beach-detail-information">
<h3 id="beachName" data-id="{{beach.id}}">{{beach.name}}</h3>
<p>{{beach.description}}</p>

{{!-- <p class="rate">Rate: {{beach.rating}}</p> --}}
</div>
</div>

<div class="beach-review">
<!-- Review Section -->
<h4>Leave a Review!</h4>

<!-- Form to Create a Review -->
<form action="/review/create/{{beach._id}}" method="post">
  <br>
  <label for="content">Content</label>
  <br>
 
  <textarea name="content" id="content" cols="80" rows="5"></textarea>
  <br>
  <button type="submit">Create the review</button>
</form>
<!-- End of the Form to Create a Review -->

<br>


<!-- Display all the Reviews  -->
{{#each beach.reviews}}
  <div>
    <!-- Actually displaying the review -->
    <p><b>By {{author.username}}:</b>
      <br>
     {{content}}</p>
    <!-- Deleting the Review -->
    <form action="/review/delete/{{_id}}/{{../beach._id}}" method="post">
      <button type="submit">Delete</button>
    </form>
  </div>
{{/each}}
</div>
<br>

<!--- Beach Gallery -->
<div id="image-gallery">
  <div>
    <form method="POST" action="/beaches/{{beach._id}}/addimage" enctype="multipart/form-data">
    <label>Add your image:</label>
        <input type="file" name="new-beach-image"/>
        <input type="hidden" name="existingImage" value="{{beach.imageUrl}}">
        <br>
        <input type="submit" id="submit">
    </form>
</div>
<h4 id="beachName" data-id="{{beach.id}}">{{beach.name}} photo gallery</h4>
<div id="gallery">
{{#if beach.gallery}}
  {{#each beach.gallery}}
  <img src="{{this}}" alt="{{beach.name}}" width="300" height="200">
  {{/each}}
{{else}}
  <p>There are no photos, add yours!</p>
{{/if}}
</div>
<br>
</div>
</body>